.transaction-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
}

.transaction-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "avatar name income"
        "avatar name date";
    gap: 10px 20px;
    align-items: center;
}

span.transaction-line {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: rgb(201, 199, 199);
}

span.transaction-line:last-child {
    display: none;
}

.transaction-item p {
    margin: 0;
}

.transaction-avatar {
    grid-area: avatar;
    width: 32px;
    height: 32px;
}

.user-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.transaction-name {
    grid-area: name;
    font-weight: 700;
    font-size: 14px;
}

.transaction-income {
    grid-area: income;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
}

.transaction-date {
    grid-area: date;
    text-align: right;
    font-size: 12px;
}

.card {
    padding: 1rem 1.5rem;
    background: #fff;
    color: #000;
    border-radius: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
